  <h5>{{ header_5 }}</h5>
  <ul>
  {% for key_5 in dict_5  %}
    {% set val_5 = dict_5[key_5] %}

    {% if ((val_5 is string) or (val_5 is number)) %}
      
      {# create new list item #}
      <li>{{key_5}}: 
        <input type="text" value='{{val_5}}'>
      </li>

    {% elif val_5 is mapping %}

      {# one-time entry #}
      {% set dict_6 = val_5 %}
      {% set header_6 = key_5 %}
      {% include 'h6.jinja2' %}

    {% else %}

      {% set list_5 = val_5 %}
      {% set test_item_5 = list_5[0] %}
      
      {% if ((test_item_5 is string) or (test_item_5 is number)) %}

        {# normal list #}
        <li>{{key_5}}
          <ul>
          {% for item_5 in list_5 %}
            <li>
              <input type="text", value='{{item_5}}'>
            </li> 
          {% endfor %}
          </ul>
        </li>

      {% else %}

        {# list of entries #}
        {% set header_6 = key_5 %}
        {% for dict_6 in list_5 %}
          {% include 'h6.jinja2' %}
        {% endfor %}

      {% endif %}

    {% endif %}

  {% endfor %}
  </ul>
