<!DOCTYPE HTML>
<html>
<head>
  <title>{{ file_name }}</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>


<div id="app" class="entry-wrapper level-0">

  <div v-for="(value_0, name_0) in dict">
    <entry :header="name_0" :list="value_0" :level="1"/>
  </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
$(function() {
  $(document).ready(function() {
    $(".entry-wrapper").each(function() {
      var level = "level-" + (($(this).parents().length + 1)/3 - 1);
      console.log(level);
      $(this).addClass(level);
    });
  });
});
</script>

<script>
  var randId = function() {
    return 'entry_' + Math.random().toString(36).substr(2, 9) + Math.random().toString(36).substr(2, 9);
  };
  $(document).ready(function() {
    $(".entry-wrapper").each(function() {
      $(this).attr('id', function(index) {
        return randId();
      })
    })
  })
</script>

<script>

  Vue.component('entry', {
    props: ['header', 'list', 'level'],
    delimiters: ['[[', ']]'],
    methods: {
      addInput() {
        this.inputs.push({
          id: `fruit${++this.counter}`,
          label: 'Enter Fruit Name',
          value: '',
        });
      }
    },
    template: `
    <div>
      <div v-for="dict in list" class="entry-wrapper">
        <anchored-heading :level="level">[[ header ]]</anchored-heading>
        <ul v-for="(value, name) in dict" class="entry-content">
          <variable
            v-if="value.constructor == String"
            :name="name"
            :value="value"
          />
          <starlist
            v-else-if="value.constructor == Array && value[0].constructor == String"
            :name="name"
            :slist="value"
          />
          <entry
            v-else
            :header="name"
            :list="value"
            :level="level+1"
          />
        </ul>
        <button @click="addInput">Add New Entry</button>
      </div>
    </div>
    `
  })


  Vue.component('anchored-heading', {
    render: function (createElement) {
      return createElement(
        'h' + this.level,   // tag name
        this.$slots.default // array of children
      )
    },
    props: {
      level: {
        type: Number,
        required: true
      }
    }
  })

  Vue.component("variable", {
    props: ["name", 'value'],
    delimiters: ['[[', ']]'],
    template: `
    <li class="variable">
      <label :for="name">[[ name ]]
        <input type="text" :value="value" :name="name">
      </label>
    </li>
    `
  })

  Vue.component('starlist', {
    props: ['name', 'slist'],
    delimiters: ['[[', ']]'],
    template: `
    <li class="starlist">
      <label :for="name">[[ name ]]
        <ul v-for="item in slist">
          <li class="list-item">
            <input type="text" :value="item">
          </li>
        </ul>
      </label>
    </li>
    `
  })

  const app = new Vue({
    el: "#app",
    delimiters: ['[[', ']]'],
    component: [
      'entry',
      'variable',
      'starlist',
    ],
    data: {
      dict: {{ream_dict|tojson|safe}},
      key_1: "value 1",
      level: 1
    },
    methods: {
      addInput() {
        this.inputs.push({
          id: `fruit${++this.counter}`,
          label: 'Enter Fruit Name',
          value: '',
        });
      }
    },
    filters: {
      type: function(value) {
        return typeof(value)
      }
    }
  })
</script>


</body>
</html>
